#main #postlist li.post {
	border-left: 8px solid #FFF;
	padding-left: 7px;
}

#main #postlist li.post.state-unresolved {
	border-left-color: #E6000A;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-o-border-radius-topleft: 0;
	-ms-border-radius-topleft: 0;
	border-top-left-radius: 0;
}

#main #postlist li.post.state-unresolved .actions a.p2-resolve-link {
	background-color: #E6000A;
}

#main #postlist li.post.state-resolved {
	border-left-color: #009632;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-o-border-radius-topleft: 0;
	-ms-border-radius-topleft: 0;
	border-top-left-radius: 0;
}

#main #postlist li.post.state-resolved .actions a.p2-resolve-link {
	background-color: #009632;
}

#main #postlist li.post.state-unresolved .actions a.p2-resolve-link,
#main #postlist li.post.state-resolved .actions a.p2-resolve-link {
	color: #fff;
	padding: 1px 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

#main #postlist li.post .actions a.p2-resolve-link:hover,
#main #postlist li.post .actions a.p2-resolve-link.p2-resolve-ajax-action {
	background-color: #888;
}

#main #postlist li.post ul.p2-resolved-posts-audit-log,
#main .controls ul.p2-resolved-posts-audit-log {
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 0;
	width: 225px;
	z-index: 1000;
	border: 1px solid #CCCCCC;
	display: none;
}

#main #postlist li.post ul.p2-resolved-posts-audit-log li {
	list-style-type: none;
	color: #777;
	opacity: 0.6;
	border-top: none;
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

#main #postlist li.post ul.p2-resolved-posts-audit-log li img {
	float: left;
	margin-right: 0;
	margin-top: 4px;
}

#main #postlist li.post ul.p2-resolved-posts-audit-log li span.audit-log-text {
	margin-left: 25px;
	display: block;
}

#main #postlist li.post ul.p2-resolved-posts-audit-log li span.date-time {
	font-size: 10px;
}

#main #postlist li.post ul.p2-resolved-posts-audit-log li:first-child {
	opacity: 1.0;
}



#postbox #new_post .p2_resolved_posts_mark_as_unresolved_checkbox {
	margin: 5px 0;
	padding: 5px 0;
}

#postbox #new_post .p2_resolved_posts_mark_as_unresolved_checkbox #p2_resolved_posts_mark_as_unresolved_checkbox {
	float: left;
	margin-right: 10px;
}

#postbox #new_post .p2_resolved_posts_mark_as_unresolved_checkbox .p2_resolved_posts_mark_as_unresolved_label {
	font-size: 12px;
	position: relative;
	top: -2px;
}



#sidebar .p2-resolved-posts-show-unresolved-posts ul li img.avatar {
	float: left;
	padding-right: 8px;
	padding-top: 3px;
}

#sidebar .p2-resolved-posts-show-unresolved-posts ul li .inner {
	margin-left: 40px;
	font-size: 11px;
}

#sidebar .p2-resolved-posts-show-unresolved-posts .hidden {
	display: none;
}

#sidebar .p2-resolved-posts-show-unresolved-posts .p2-resolved-posts-show-unresolved-posts-pagination {
	padding-top: 0;
	margin-top: -3px;
	padding-bottom: 2px;
	margin-bottom: 0;
	font-size: 10px;
}